{
    "devServerAddress" : "127.0.0.1:8090",
    "assetBasePath" : "build/asset/",
    "rootDir"       : "public/",
    "resultMapPath" : "build/asset/map.json",
    "assets" : {
        "app.css" : [
            "asset/css/first.css",
            "asset/css/second.css"
        ]
    }
    
}
